
<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">
  <div class="alert alert-success" role="alert">
    SAML 2.0 SingleLogout (Global) and Logout (Local) process
  </div>
  <p><img class="img-fluid" th:src="@{/img/logout_picture.png}" /></p>

  <a th:href="@{/saml/logout}" class="btn btn-spring btn-sm">
    <i class="far fa-localUser-circle"></i> Global logout
  </a>
  ----
  <a th:href="@{/saml/logout/SingleLogout}" class="btn btn-spring btn-sm">
    <i class="fas fa-sign-out-alt"></i> Local logout
  </a>
</section>
<!-- Content ends -->
</body>

</html>